NEXT_PUBLIC_BACK_API_DOC_HOST=http://localhost:10081 # backend openapi doc
NEXT_PUBLIC_BACK_API_HOST= # backend api host
BACKEND_API_ROOT_DIR= # backend java program root directory
CONTRACT_ROOT_DIR=../evm-contract # contract program root directory

