# private environment
.env
.data
*/.env
.aws
temp/

# compiled output
/dist
*/dist
*/dist-electron
/node_modules
*/node_modules
*/dist-ssr
*.local
/target

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
yarn.lock
package-lock.json


# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
.idea
.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs


# client
client/src/config/contractAbi/types

# data
/volumes