services:
  gateway:
    build:
      context: ./server
      dockerfile: Dockerfile
      target: gateway
    container_name: meta-web-three-gateway
    ports:
      - "10081:10081"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_CLOUD_ZOOKEEPER_CONNECT_STRING=zookeeper:2181
    volumes:
      - gateway_data:/server/gateway
      - ./.aws:/.aws:ro
    depends_on:
      zookeeper:
        condition: service_healthy
    networks:
      - meta-web-three
      - default
    restart: unless-stopped

  product-service:
    build:
      context: ./server
      dockerfile: Dockerfile
      target: product-service
    container_name: meta-web-three-product-service
    ports:
      - "10082:10082"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_CLOUD_ZOOKEEPER_CONNECT_STRING=zookeeper:2181
    volumes:
      - product_service_data:/server/product
      - ./.aws:/.aws:ro
    depends_on:
      zookeeper:
        condition: service_healthy
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - meta-web-three
      - default
    restart: unless-stopped

  user-service:
    build:
      context: ./server
      dockerfile: Dockerfile
      target: user-service
    container_name: meta-web-three-user-service
    ports:
      - "10083:10083"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_CLOUD_ZOOKEEPER_CONNECT_STRING=zookeeper:2181
    volumes:
      - user_service_data:/server/user
      - ./.aws:/.aws:ro
    depends_on:
      zookeeper:
        condition: service_healthy
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - meta-web-three
      - default
    restart: unless-stopped

  order-service:
    build:
      context: ./server
      dockerfile: Dockerfile
      target: order-service
    container_name: meta-web-three-order-service
    ports:
      - "10084:10084"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_CLOUD_ZOOKEEPER_CONNECT_STRING=zookeeper:2181
    volumes:
      - order_service_data:/server/order
      - ./.aws:/.aws:ro
    depends_on:
      zookeeper:
        condition: service_healthy
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - meta-web-three
      - default
    restart: unless-stopped

  message-service:
    build:
      context: ./server
      dockerfile: Dockerfile
      target: message-service
    container_name: meta-web-three-message-service
    ports:
      - "10085:10085"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_CLOUD_ZOOKEEPER_CONNECT_STRING=zookeeper:2181
    volumes:
      - message_service_data:/server/message
      - ./.aws:/.aws:ro
    depends_on:
      zookeeper:
        condition: service_healthy
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - meta-web-three
      - default
    restart: unless-stopped

  payment-service:
    build:
      context: ./server
      dockerfile: Dockerfile
      target: payment-service
    container_name: meta-web-three-payment-service
    ports:
      - "10086:10086"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_CLOUD_ZOOKEEPER_CONNECT_STRING=zookeeper:2181
    volumes:
      - payment_service_data:/server/payment
      - ./.aws:/.aws:ro
    # environment:
    #   - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/payment_service
    #   - SPRING_DATASOURCE_USERNAME=root
    #   - SPRING_DATASOURCE_PASSWORD=root
    #   - SPRING_REDIS_HOST=redis
    #   - SPRING_REDIS_PORT=6379
    depends_on:
      zookeeper:
        condition: service_healthy
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - meta-web-three
      - default
    restart: unless-stopped

  media-service:
    build:
      context: ./server
      dockerfile: Dockerfile
      target: media-service
    container_name: meta-web-three-media-service
    ports:
      - "10087:10087"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_CLOUD_ZOOKEEPER_CONNECT_STRING=zookeeper:2181
    volumes:
      - media_service_data:/server/media
      - ./.aws:/.aws:ro
    depends_on:
      zookeeper:
        condition: service_healthy
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - meta-web-three
      - default
    restart: unless-stopped

volumes:
  gateway_data:
  product_service_data:
  user_service_data:
  order_service_data:
  message_service_data:
  payment_service_data:
  media_service_data:
