html
    head
        meta(charset="utf-8")
        title= pageTitle
        link(rel="styleSheet",href="../css/global.css")
    body
        input#title(type="text",placeholder="标题")
        input#content(type="text",placeholder="内容")
        a#btn_submit 推送
        script(src="../js/getui.js",type="text/javascript")