//-
   Created by lotaway on 2016/7/29.

header
    //yield//- 外部更新的内容放置的位置
    nav
        ul
            li
                a(href='/') 首页
            li
                a(href='/list') 商品列表
            li
                a(href='/user') 用户
            li
                a(href='/reg') 注册
            li
                a(href='/test/getui') 推送测试