html(manifest='/chache.appchache')
    head
        meta(charset="utf-8")
        title= pageTitle
        link(rel="styleSheet",href="../css/global.css")
    body
        extends ./header
        main.container
            h1= pageTitle
            p 这是首页
            p
                a.btn.btn-primary.btn-lg(href="#",role="button") 学习更多
        nav
        //extends ./footer.html
        script(src="../js/jQuery.js")