//-
   Created by lotaway on 2016/7/31.

doctype
html
    head
        meta(charset='UTF-8')
        title 列表页
    body
        .container
            <% for (var i =0;i<fakerData.length;i++) {%>
            p %= fakerData[i].name %>
            span <%= fakerData[i].price %>
            <% } %>
            <%= data %>
            ul.list
                li.item
                    a
                        img(src='',class='thumbnail')