//-
   Created by lotaway on 2016/7/31.

doctype
html
    head
        meta(charset='UTF-8')
        title 列表页
    body
        .container
            ul.list
                li.item
                    a
                        img(src='',class='thumbnail')