@charset "utf-8";

@import "./icon.css";

:not(input) {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

button:focus, input:focus, select:focus, textarea:focus {
    outline: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img {
    vertical-align: top;
    border: 0
}

input, textarea {
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-appearance: none
}

button:focus, input:focus, select:focus, textarea:focus {
    outline: 0
}

input[type=submit], input[type=botton], input[type=text], input[type=password], input[type=search], input[type=tel], input[type=number], input[type=email], input[type=url], textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none
}

a, a:hover, del {
    text-decoration: none;
}

em, i {
    font-style: normal
}

ul, li, ol, dd, dl, dt {
    list-style: none
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body, html {
    height: 100%
}

body {
    font-size: 12px;
    position: relative
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "microsoft yahei", Arial, SimSun
}

.floatl {
    float: left
}

.floatr {
    float: right
}

.clear {
    clear: both
}

.clearf:after {
    content: "";
    display: block;
    clear: both
}

.hidden {
    overflow: hidden
}

.disabled {
    opacity: 0.5;
}

.transparent {
    opacity: 0;
    pointer-events: none;
}

.untouchable {
    pointer-events: none;
}

.transition {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.transition-fast {
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.hide {
    display: none
}

.line-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.through {
    pointer-events: none
}

.biggest-text {
    font-size: 2rem
}

.bigger-text {
    font-size: 1.7rem
}

.big-text {
    font-size: 1.12rem
}

.normal-text {
    font-size: .96rem
}

.small-text {
    font-size: .72rem
}

.smaller-text {
    font-size: .56rem
}

span.ImgMiddle {
    height: 100%;
    display: inline-block;
    vertical-align: middle
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111
}

main {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    overflow: hidden;
    padding: 50px 0;
    -webkit-overflow-scrolling: touch;
    z-index: 100
}

footer {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 111;
}

.HeadL, .HeadR {
    height: 50px
}

.HeadM {
    width: auto;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.HeadM img {
    max-width: 220px;
    height: 50px
}

.foot, .MainFoot {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 10px auto;
    overflow: hidden;
    line-height: 135%;
    padding: 2% 0;
}

footer .item {
    display: inline-block;
    float: left;
    width: 20%;
    text-align: center;
}

footer .item a {
    display: block;
    margin: 0 auto;
    height: 50px;
    position: relative;
}

footer .item img {
    display: block;
    margin: 5% auto 0;
    width: auto;
    height: 55%;
}

footer .icon {
    margin: 5px auto 3px;
    font-size: 22px;
}

footer .text {
    display: block;
    font-size: 10px;
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -o-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
}

.shoppingCartAmount .sub-num,
footer .item .sub-num {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: 45%;
    text-align: center;
    line-height: 18px;
}

footer .item .sub-num {
    top: 3px;
}

.shoppingCartAmount .sub-num {
    top: 5px;
    right: 50%;
    margin-right: -22px;
}

.goTop {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: fixed;
    bottom: 70px;
    right: 20px;
    z-index: 120;
}

.goTop.transparent {
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
}

.Foot2r {
    width: 100px;
    height: 50px
}

.Foot2r a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
}

.Foot2r input[type=submit] {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    border: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none
}

.Foot2l {
    margin-right: 100px;
    width: auto;
    height: 50px;
    padding-left: 15px;
    line-height: 50px;
    font-size: 16px;
}

.FCartL {
    width: 60px;
    margin-left: 10px;
    height: 50px;
    overflow: hidden;
    font-size: 14px;
    line-height: 50px;
}

.FCartL span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    vertical-align: middle;
    margin-right: 5px;
    background: url(../images/radioBg.png) center no-repeat;
    background-size: 25px 25px;
}

.FCartL span.cur {
    background: url(../images/radioBgH.png) center no-repeat;
    background-size: 100% auto;
}

.FCartR {
    width: 50px;
    height: 50px;
    text-align: center
}

.FCartR img {
    width: 35px;
    padding: 5px;
    margin: 10px 0;
}

.FCartM {
    width: auto;
    height: 50px;
    margin: 0 50px 0 70px
}

.FCartMR {
    width: 80px;
    height: 50px;
    float: right
}

.FCartMR a {
    display: block;
    width: 80px;
    height: 40px;
    margin: 5px 0;
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}

.FCartML {
    width: auto;
    margin-right: 85px;
    height: 50px;
    padding: 5px 0;
    text-align: right
}

.FCartMTotal {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.FCartMLTip {
    font-size: 12px
}

.TeamCartFoot {
    width: 100%;
    padding: 0 10px
}

.PsFoot > div {
    width: 100%;
    height: 48px;
    display: flex;
}

.PsFoot > div a {
    display: block;
    flex: 2;
    text-align: center;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    position: relative;
}

.PsFoot > div a.FServiceBt {
    flex: 1;
}

.PsFoot div.PsHpStartBuyBt.PsHpStarting {
    display: block;
    flex: 4;
    text-align: center;
    height: 50px;
    font-size: 14px;
    line-height: 50px
}

.PsFoot div.PsHpStartBuyBt.PsHpStarting a {
    display: inline-block;
    float: left;
    width: 50%
}

.shoppingCartAmount img,
.PsFoot > div a.FServiceBt img {
    width: 25px;
    vertical-align: middle;
    margin-right: 5px
}

.PsFoot > div a.shoppingCartAmount .icon-cart {
    width: 30px;
    margin-right: 0;
}

.PsFoot > div a.PsHpStartBuyBt {
    display: none;
}

.PsFoot > div a.PsHpStartNow {
    text-decoration: line-through;
}

.PsFoot > div a.Showing {
    display: block;
}

.ProImg {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.ProImg img {
    width: 100%;
}

.ProName {
    height: 32px;
    margin: 5px 5px 0;
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
}

.ProPrice {
    height: 20px;
    overflow: hidden;
    margin: 5px 5px 0;
    line-height: 20px;
}

.ProPrice del {
    font-size: 14px;
    font-weight: bold;
}

.ProPrice span {
    display: inline-block;
    float: left;
    height: 20px;
}

.ProPrice span:last-child, .Zhe {
    padding: 0 5px 0 12px;
    text-align: center;
    height: 14px;
    line-height: 14px;
    margin: 3px 0 0 4px;
}

.ProPrice span:first-child {
    background: transparent;
    padding: 0;
    text-align: left;
    margin: 0;
    color: inherit;
}

.ProSale {
    height: 16px;
    overflow: hidden;
    margin: 5px;
    line-height: 16px;
}

.ProSale .floatl {
    text-decoration: line-through
}

.NumBox {
    padding: 4px 0
}

.Plus, .Minus {
    display: inline-block;
    float: left;
    width: 35px;
    height: 30px;
}

.Plus {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: url(../images/PlusBg.png) center no-repeat;
    background-size: 16px 16px
}

.Minus {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: url(../images/MinusBg.png) center no-repeat;
    background-size: 16px 3px
}

.PlusH {
    background: url(../images/PlusBgH.png) center no-repeat;
    background-size: 16px 16px
}

.MinusH {
    background: url(../images/MinusBgH.png) center no-repeat;
    background-size: 16px 3px
}

.NumTxt {
    display: inline-block;
    float: left;
    width: 50px;
    height: 30px;
    border: 0;
    border-radius: 0;
    text-align: center;
}

.SCNumBox {
    padding: 4px 0
}

.SCPlus, .SCMinus {
    display: inline-block;
    float: left;
    width: 35px;
    height: 30px;
}

.SCPlus {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: url(../images/PlusBg.png) center no-repeat;
    background-size: 12px auto;
}

.SCMinus {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: url(../images/MinusBg.png) center no-repeat;
    background-size: 13px auto;
}

.SCPlusH {
    background: url(../images/PlusBgH.png) center no-repeat;
    background-size: 16px 16px
}

.SCMinusH {
    background: url(../images/MinusBgH.png) center no-repeat;
    background-size: 13px auto;
}

.SCNumTxt {
    display: inline-block;
    float: left;
    width: 50px;
    height: 30px;
    border: 0;
    border-radius: 0;
    text-align: center;
}

.HpNumBox {
    padding: 4px 0
}

.HpPlus, .HpMinus {
    display: inline-block;
    float: left;
    width: 35px;
    height: 30px;
}

.HpPlus {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: url(../images/PlusBg.png) center no-repeat;
    background-size: 16px 16px
}

.HpMinus {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: url(../images/MinusBg.png) center no-repeat;
    background-size: 16px 3px
}

.HpPlusH {
    background: url(../images/PlusBgH.png) center no-repeat;
    background-size: 16px 16px
}

.HpMinusH {
    background: url(../images/MinusBgH.png) center no-repeat;
    background-size: 16px 3px
}

.HpNumTxt {
    display: inline-block;
    float: left;
    width: 50px;
    height: 30px;
    border: 0;
    border-radius: 0;
    text-align: center;
}

.YgNumBox {
    padding: 4px 0;
    height: 32px
}

.YgPlus, .YgMinus {
    display: inline-block;
    float: left;
    width: 35px;
    height: 30px;
}

.YgPlus {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: url(../images/PlusBg.png) center no-repeat;
    background-size: 16px 16px
}

.YgMinus {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: url(../images/MinusBg.png) center no-repeat;
    background-size: 16px 3px
}

.YgPlusH {
    background: url(../images/PlusBgH.png) center no-repeat;
    background-size: 16px 16px
}

.YgMinusH {
    background: url(../images/MinusBgH.png) center no-repeat;
    background-size: 16px 3px
}

.YgNumTxt {
    display: inline-block;
    float: left;
    width: 50px;
    height: 30px;
    border: 0;
    border-radius: 0;
    text-align: center;
}

.icon-success-add-cart {
    display: block;
    width: 18px;
    height: 18px;
    background: url("../images/icon-success-add-cart.png") center bottom no-repeat;
    background-size: 100% auto;
    margin: 0 auto
}

.aui_inner {
    background: transparent
}

.aui_buttons {
    padding-bottom: 16px
}

.aui_buttons button {
    padding: 6px 28px;
    border: 0;
    border-radius: 2px;
    text-shadow: none;
    box-shadow: none;
}

button.aui_state_highlight {
    border: 0;
    text-shadow: none
}

.aui_content > div {
    line-height: 250%;
    border-radius: 3px
}

.aui_iconBg {
    display: none
}

.aui_content .artDialog_prompt3_title {
    margin-bottom: 5px;
    font-size: 12px;
    text-align: center;
    background: transparent;
}

.aui_content .artDialog_prompt3_input {
    width: 10em;
    padding: 2px 5px;
    margin-bottom: 3px;
    border: none;
    border-radius: 2px;
    background: transparent;
}

@media screen and (min-width: 0) {
    .aui_state_lock .aui_outer {
        box-shadow: none
    }

    .aui_outer {
        border: 0;
        border-radius: 0;
        box-shadow: none;
        background: transparent
    }

    .aui_sw, .aui_s, .aui_se {
        background: transparent
    }

    .aui_border {
        background: transparent;
        border-radius: 0
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .aui_close {
        opacity: 0
    }
}