[submodule "CODE_PINCEPLES"]
	path = CODE_PINCEPLES
	url = https://github.com/lotaway/CODE_PINCEPLES.git
[submodule "browser-extension"]
	path = browser-extension
	url = https://github.com/lotaway/bili-plus.git
