<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metawebthree.mes.infrastructure.persistence.mapper.BomItemMapper">
    
    <select id="findByBomId" resultType="com.metawebthree.mes.infrastructure.persistence.dataobject.BomItemDO">
        SELECT * FROM mes_bom_item WHERE bom_id = #{bomId} ORDER BY sequence
    </select>
    
    <delete id="deleteByBomId">
        DELETE FROM mes_bom_item WHERE bom_id = #{bomId}
    </delete>
</mapper>