<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metawebthree.mes.infrastructure.persistence.mapper.BomVersionMapper">
    
    <select id="findByProductCode" resultType="com.metawebthree.mes.infrastructure.persistence.dataobject.BomVersionDO">
        SELECT * FROM mes_bom_version WHERE product_code = #{productCode} LIMIT 1
    </select>
</mapper>