server:
  port: 10081
spring:
  application:
    name: gateway
  profiles:
    active: dev
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true # Enable discovery locator proxy
              lower-case-service-id: true
    zookeeper:
      discovery:
        enabled: true
        register: false
        metadata:
          version: 1.0.0
        prefer-ip-address: true
        instance-id: ${spring.application.name}:${server.port}
        service-name: ${spring.application.name}
  main:
    web-application-type: reactive
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tagsSorter: alpha
    operationsSorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'all'
      paths-to-match: '/**'
      packages-to-scan: 'com.metawebthree'
---
spring:
  config:
    activate:
      on-profile: dev
    import:
      # - optional:classpath:/config/application-common-${spring.profiles.active}.yml
      - optional:classpath:application-common.yml
      - optional:classpath:application-common-dev.yml
---
spring:
  config:
    activate:
      on-profile: prod
    import:
      - optional:classpath:application-common.yml
      - optional:classpath:application-common-prod.yml
