server:
  port: 10081
spring:
  application:
    name: gateway
  profiles:
    active: dev
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true # Enable discovery locator proxy
              lower-case-service-id: true
  main:
    web-application-type: reactive
springdoc:
  swagger-ui:
    urls:
      - name: media-service
        url: /v3/api-docs/media
      - name: message-service
        url: /v3/api-docs/message
      - name: order-service
        url: /v3/api-docs/order
      - name: payment-service
        url: /v3/api-docs/payment
      - name: product-service
        url: /v3/api-docs/product
      - name: user-service
        url: /v3/api-docs/user
---
spring:
  config:
    activate:
      on-profile: dev
    import:
      # - optional:classpath:/config/application-common-${spring.profiles.active}.yml
      - optional:classpath:application-common.yml
      - optional:classpath:application-common-dev.yml
---
spring:
  config:
    activate:
      on-profile: prod
    import:
      - optional:classpath:application-common.yml
      - optional:classpath:application-common-prod.yml
