<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metawebthree.user.UserMapper">
    <select id="getUserList" resultType="com.metawebthree.user.UserPojo">
        select id, email, typeId, authorId from User limit #{pageSize} offset #{offset}
        <where>
            <if test="email != null">email = #{email}</if>
            <if test="typeId != null">and typeId = #{typeId}</if>
        </where>
    </select>
    <update id="updateUser">
        update User
        <set>
            <if test="email != null">email = #{email},</if>
            <if test="typeId != null">typeId = #{typeId},</if>
            <if test="password != null">password = #{password},</if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteUsers">
        delete from User
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>